

<h1 class= "text1" >Welcome! FICTION BOOK REVIEW</h1>
<h3 class= "text2" >เป็นการรีวิวนิยายที่ไม่แสวงหาผลกำไรหรือผลประโยชน์ใดๆ</h3><br>


<h1 class="current-category"><%= params[:category]%></h1>

<% if @books.count == 0 %>
   <h2> There are no books currently in this category</h2>
   
    <% else %>

      <div class="row">
           <% @books.each do |book| %>

             <div class="col-md-3">
                <a href="/books/<%= book.id %>">
                  <%= image_tag book.book_img.url(:book_index), class: "book" %>
                </a>
             </div>

            <% end %>
        </div>
<% end %>
